@model List<PersonalGram.Models.User>
<div id="app">
    <h2>Users</h2>
    
    <a class="waves-effect waves-light btn-floating" href=@Url.Action("User", "User", new {id = -1})>
        <i class="material-icons delete">add</i>
    </a>

    <table class="highlight striped centered">
        <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th class="delete-column">Delete</th>
        </tr>
        </thead>

        <tbody>
        @foreach (var item in Model)
        {
            <tr data-id="@item.Id">
                <td><a href=@Url.Action("User", "User", new {id = item.Id})>@item.Name</a></td>
                <td>@item.Age</td>
                <td class="delete-column">
                    <a class="waves-effect waves-light btn red darken-1 delete-btn" 
                       data-id="@item.Id" v-on:click="deleteUser(@item.Id)">
                        <i class="material-icons delete">delete</i>
                    </a>
                </td>
            </tr>
        }
        </tbody>
    </table>
    
    
</div>

<script src="~/Scripts/Pages/Users.js"></script>